name: Generate & Deploy Docs

on:
  push:
    branches:
      - main  # 每次推送到 main 分支时触发

jobs:
  build-docs:
    runs-on: macos-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Generate Documentation (DocC)
        run: |
          swift package \
            --allow-writing-to-directory ./docs \
            generate-documentation \
            --target CryoNet \
            --output-path ./docs \
            --transform-for-static-hosting \
            --hosting-base-path CryoNet

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs
